/* Сбрасываем отступы */
body {
  margin: 0;
  padding: 0;
  height: 100vh;

  /* Центрируем форму */
  display: flex;
  justify-content: center;
  align-items: center;

  background: #eef1f7;
  font-family: Arial, sans-serif;
}

/* смена темы */
button.theme_change{
  width: 5%;
  position: fixed;
  top: 10px;
  right: 20px;
  padding: 10px 15px;
  background: #4a67ff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;
}

/* Окно формы */
form {
  background: #ffffff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  width: 320px;
}

.form-head {
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
  color: #333;
}


/* Подписи */
label {
  font-size: 14px;
  color: #555;
}

/* Поля */
input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  background-color: #f0f0f0;
  color: #333333;    
}

/* Кнопка */
button {
  width: 100%;
  padding: 10px;
  background: #4a67ff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;
}

button:hover {
  background: #3a55d6;
}



/* Dark Theme */

/* Сбрасываем отступы */
body.dark_theme {
  margin: 0;
  padding: 0;
  height: 100vh;

  /* Центрируем форму */
  display: flex;
  justify-content: center;
  align-items: center;

  background: #1e1e1f;
  font-family: Arial, sans-serif;
}

/* смена темы */
body.dark_theme button.theme_change{
  width: 5%;
  position: fixed;   /* фиксируем относительно окна браузера */
  top: 10px;         /* отступ сверху */
  right: 20px;       /* отступ справа */
  padding: 10px 15px;
  background: #6300a5;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;
}

/* Окно формы */
body.dark_theme form {
  background: #474747;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(244, 244, 244, 0.1);
  width: 320px;
}

body.dark_theme .form-head{
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
}


/* Подписи */
body.dark_theme label {
  font-size: 14px;
  color: #ffffff;
}

/* Поля */
body.dark_theme input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #292929;
  border-radius: 8px;
  font-size: 14px;
  background-color: #585858;
  color: #ffffff;    
}

/* Кнопка */
body.dark_theme button {
  width: 100%;
  padding: 10px;
  background: #6300a5;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;
}

body.dark_theme button:hover {
  background: #41006c;
}
